.Main{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins" , sans-serif; 
   width: 100%;
   background-color: antiquewhite;
 } 

.spisokfilm {
    position:relative;
    width: 150px;
    height: 210px;
    background-color: plum;
    margin-top: calc(40px);
    margin-left: calc(20px);
    display: inline-block;
}

.spisokfilm img {
    width: 150px;
    height: 210px;
    z-index: 1;
}

.filmhover h2 {
    color:firebrick;
    font-size: 15pt;
    bottom: 10px;
    line-height: 25px;
}


